body{
    margin: 0;
    overflow-x: hidden;
    background: rgb(2,0,36);
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,32,129,1) 50%, rgba(5,31,36,1) 100%);
}
.navbar img{
    height: 150px;
    padding-top: 10%;
}
.nav-link {
    color: white !important;
}
.banner h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.banner p{
    color: white;
}
.banner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 10%;
    margin-top: 10% !important;
    
}
.block {
    display: none;
}
.directions{
    background: rgb(225,241,255);
background: linear-gradient(90deg, rgba(225,241,255,1) 0%, rgba(255,255,255,1) 100%);
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 10% 10% 10% 10%;
margin-top: 100px;
height: 1100px;
}
.directions-choice{
    display: flex;
    flex-wrap: wrap ;
    width: 500px;
}
.out {
    width: 500px !important;
    height:400px !important;
}


.base-color{
    background-color: #ffffff;
    padding: 100px;
    margin-left: -50px;
    height: 825px;
}
.myBtn{
    background-color: rgba(0, 0, 0, 0);
    width: 500px;
    height: 91px;
    display: flex;
    border: 0;
}
.slider h2{
    font-size: 24px;
}
.myBtn:focus{ background-color: #ffffff;
    display: flex;
    border-radius: 15px;
    height: 90px;
    
    width: 500px;}
.directions img{
    width: 30px ;
    height: 30px;
    
}
.block img{
    width: 500px !important;
    height: 400px !important;
}
.callback{
    padding-left: 300px;
    width: 200px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 80%;
    height: 1000px;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80% !important; 
  }
  
  .close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .callbacktitle{
    color: #7EAFDB;
    text-align: center;
  }
  .callbackbutn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #90EBFF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    height: 70px;
    width: 350px;
    margin:25px;
  }
  .callbackfields{
    margin-left: 450px;
  }
  
  
.footerBrand{
    color: white;
    font-size: 100px;
    display: inline;
    margin-right: 50%;
}
 
.directions-content-header{
    margin-top: 25px;
}
.slider{
    display: flex;
}

.line {
    width: 10px !important;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    height: 97% !important;
}
.btn {
 
    width: 400px;
    height: 60px;
    color: white !important;
    margin-left: 50px;
}

.card-news {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(12, 20px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    }
    
    .div1 { grid-area: 2 / 2 / 4 / 3; }
    .div2 { grid-area: 2 / 3 / 3 / 4; }
    .div3 { grid-area: 3 / 3 / 4 / 4; }
    .div4 { grid-area: 2 / 6 / 4 / 8; }
    .div5 { grid-area: 10 / 4 / 12 / 6; }
    .div6 { grid-area: 5 / 3 / 10 / 9; }

    .button {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #90EBFF !important;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border: none;
      }
      .button-sovet{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        font-size: 12px;
        background: #90EBFF !important;
        padding: 0px 30px 0px 30px;

        text-decoration: none;
      }
      .card{
        display: inline-block;
        
      }
     
    .contactus{
        background-color: white;
        margin-top: 100px;
        display: flex;
    }
    .contacttext{
        padding: 20%;
    }
    .contactus h5{
        font-weight: lighter;
    }
    input[type="text"] {
        display: block;
    }
    input[type="email"] {
        display: block;
    }
    input[type="text"] {
        display: block;
    }
    .butn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #D9D9D9;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 10%;
        height: 70px;
        width: 350px;
    }

    .butn.valid {
        background-color: #4CAF50; /* зеленый */
    }

    .butn.sending {
        background-color: #2196F3; /* синий */
    }

    .butn.sent {
        background-color: #008000; /* зеленый */
    }
    .invalid {
        border: 3px solid red;
    }
      .galery {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .galery1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .img5 { grid-area: 1 / 2 / 3 / 4; }
            .img3 { grid-area: 2 / 1 / 4 / 2; }
            .img6 { grid-area: 3 / 2 / 4 / 4; }
            .img4 { grid-area: 1 / 1 / 2 / 2; }
       
        .linefooter{
            width: 1300px;
            margin-top: 150px;
        }
        footer{
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,32,129,1) 50%, rgba(5,31,36,1) 100%);
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 1000;
            overflow: auto;
            text-align: center;
          }
          .overlay img {
            max-width: 90%;
            max-height: 90%;
            margin-top: 20px;
            border: 5px solid white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          }
          .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            font-size: 30px;
            cursor: pointer;
            z-index: 1100;
          }
          .nav-link::before {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 65px;
            height: 2px;
            background-color: white;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }
          .nav-link:hover::before {
            transform: scaleX(1);
          }
          .nav-link active::before {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 65px;
            height: 2px;
            background-color: white;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }
          .nav-link:hover::before {
            transform: scaleX(1);
          }
          @media screen and (max-width:500px) {
                .card-news{

                    margin-top: 10%;
                }
          }